<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>138.33.0.157554</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {1152, 733}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2015-01-25 23:06:53 +0000</string>
	<key>Creator</key>
	<string>Nicholas Weber</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1 0/72 in</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{874, 306}, {92, 20}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.150561</string>
					<key>g</key>
					<string>0.150559</string>
					<key>r</key>
					<string>0.150563</string>
				</dict>
				<key>Size</key>
				<real>14</real>
			</dict>
			<key>ID</key>
			<integer>37793</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBKw1kYXRlIGFjY2Vzc2VkhoQCaUkBDZKEhIQM
				TlNEaWN0aW9uYXJ5AJSEAWkEkoSWlhBOU1BhcmFncmFw
				aFN0eWxlhpKEhIQQTlNQYXJhZ3JhcGhTdHlsZQCUhARD
				Q0BTAACEhIQHTlNBcnJheQCUmQKShISECU5TVGV4dFRh
				YgCUhAJDZgALhpKEn54AGoaGgSQChARbM2ZdGhQkhpKE
				lpYHTlNDb2xvcoaShISEB05TQ29sb3IAlIQBYwKEBGZm
				ZmaDzcxMPoPNzEw+g83MTD4BhpKElpYGTlNGb250hpKE
				hIQGTlNGb250HpSZJIQFWzM2Y10GAAAAHAAAAP/+SABl
				AGwAdgBlAHQAaQBjAGEATgBlAHUAZQCEAWYOoQChAaEA
				oQCGkoSWlgZOU0tlcm6GkoSEhAhOU051bWJlcgCEhAdO
				U1ZhbHVlAJSEASqEhAFkqQCGhoY=
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 HelveticaNeue;}
{\colortbl;\red255\green255\blue255;\red38\green38\blue38;}
\deftab720
\pard\tx220\tx520\pardeftab720\li520\fi-520\sl400

\f0\fs28 \cf2 \expnd0\expndtw0\kerning0
date accessed}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{438, 311}, {186, 20}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.150561</string>
					<key>g</key>
					<string>0.150559</string>
					<key>r</key>
					<string>0.150563</string>
				</dict>
				<key>Size</key>
				<real>14</real>
			</dict>
			<key>ID</key>
			<integer>37792</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBKyBpZGVudGlmaWVyIHRoYXQgcmVzb2x2ZXMg
				dG8gZGF0YYaEAmlJASCShISEDE5TRGljdGlvbmFyeQCU
				hAFpBJKElpYQTlNQYXJhZ3JhcGhTdHlsZYaShISEEE5T
				UGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwAAhISEB05TQXJy
				YXkAlJkCkoSEhAlOU1RleHRUYWIAlIQCQ2YAC4aShJ+e
				ABqGhoEkAoQEWzNmXRoUJIaShJaWB05TQ29sb3KGkoSE
				hAdOU0NvbG9yAJSEAWMChARmZmZmg83MTD6DzcxMPoPN
				zEw+AYaShJaWBk5TRm9udIaShISEBk5TRm9udB6UmSSE
				BVszNmNdBgAAABwAAAD//kgAZQBsAHYAZQB0AGkAYwBh
				AE4AZQB1AGUAhAFmDqEAoQGhAKEAhpKElpYGTlNLZXJu
				hpKEhIQITlNOdW1iZXIAhIQHTlNWYWx1ZQCUhAEqhIQB
				ZKkAhoaG
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 HelveticaNeue;}
{\colortbl;\red255\green255\blue255;\red38\green38\blue38;}
\deftab720
\pard\tx220\tx520\pardeftab720\li520\fi-520\sl400

\f0\fs28 \cf2 \expnd0\expndtw0\kerning0
identifier that resolves to data}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{45, 306}, {231, 20}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.150561</string>
					<key>g</key>
					<string>0.150559</string>
					<key>r</key>
					<string>0.150563</string>
				</dict>
				<key>Size</key>
				<real>14</real>
			</dict>
			<key>ID</key>
			<integer>37791</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBKyVQdWJsaXNoZXIgLyBJbnN0aXR1dGlvbiBB
				Y2Nlc3NlZCBmcm9thoQCaUkBJZKEhIQMTlNEaWN0aW9u
				YXJ5AJSEAWkEkoSWlhBOU1BhcmFncmFwaFN0eWxlhpKE
				hIQQTlNQYXJhZ3JhcGhTdHlsZQCUhARDQ0BTAACEhIQH
				TlNBcnJheQCUmQKShISECU5TVGV4dFRhYgCUhAJDZgAL
				hpKEn54AGoaGgSQChARbM2ZdGhQkhpKElpYHTlNDb2xv
				coaShISEB05TQ29sb3IAlIQBYwKEBGZmZmaDzcxMPoPN
				zEw+g83MTD4BhpKElpYGTlNGb250hpKEhIQGTlNGb250
				HpSZJIQFWzM2Y10GAAAAHAAAAP/+SABlAGwAdgBlAHQA
				aQBjAGEATgBlAHUAZQCEAWYOoQChAaEAoQCGkoSWlgZO
				U0tlcm6GkoSEhAhOU051bWJlcgCEhAdOU1ZhbHVlAJSE
				ASqEhAFkqQCGhoY=
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 HelveticaNeue;}
{\colortbl;\red255\green255\blue255;\red38\green38\blue38;}
\deftab720
\pard\tx220\tx520\pardeftab720\li520\fi-520\sl400

\f0\fs28 \cf2 \expnd0\expndtw0\kerning0
Publisher / Institution Accessed from}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{980.5, 114}, {76, 20}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.150561</string>
					<key>g</key>
					<string>0.150559</string>
					<key>r</key>
					<string>0.150563</string>
				</dict>
				<key>Size</key>
				<real>14</real>
			</dict>
			<key>ID</key>
			<integer>37790</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBKw1TZXJpYWxpemF0aW9uhoQCaUkBDZKEhIQM
				TlNEaWN0aW9uYXJ5AJSEAWkEkoSWlhBOU1BhcmFncmFw
				aFN0eWxlhpKEhIQQTlNQYXJhZ3JhcGhTdHlsZQCUhARD
				Q0BTAACEhIQHTlNBcnJheQCUmQKShISECU5TVGV4dFRh
				YgCUhAJDZgALhpKEn54AGoaGgSQChARbM2ZdGhQkhpKE
				lpYHTlNDb2xvcoaShISEB05TQ29sb3IAlIQBYwKEBGZm
				ZmaDzcxMPoPNzEw+g83MTD4BhpKElpYGTlNGb250hpKE
				hIQGTlNGb250HpSZJIQFWzM2Y10GAAAAHAAAAP/+SABl
				AGwAdgBlAHQAaQBjAGEATgBlAHUAZQCEAWYOoQChAaEA
				oQCGkoSWlgZOU0tlcm6GkoSEhAhOU051bWJlcgCEhAdO
				U1ZhbHVlAJSEASqEhAFkqQCGhoY=
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 HelveticaNeue;}
{\colortbl;\red255\green255\blue255;\red38\green38\blue38;}
\deftab720
\pard\tx220\tx520\pardeftab720\li520\fi-520\sl400

\f0\fs28 \cf2 \expnd0\expndtw0\kerning0
Serialization}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{726, 114}, {27, 20}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.150561</string>
					<key>g</key>
					<string>0.150559</string>
					<key>r</key>
					<string>0.150563</string>
				</dict>
				<key>Size</key>
				<real>14</real>
			</dict>
			<key>ID</key>
			<integer>37789</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBKwVUaXRsZYaEAmlJAQWShISEDE5TRGljdGlv
				bmFyeQCUhAFpBJKElpYQTlNQYXJhZ3JhcGhTdHlsZYaS
				hISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwAAhISE
				B05TQXJyYXkAlJkCkoSEhAlOU1RleHRUYWIAlIQCQ2YA
				C4aShJ+eABqGhoEkAoQEWzNmXRoUJIaShJaWB05TQ29s
				b3KGkoSEhAdOU0NvbG9yAJSEAWMChARmZmZmg83MTD6D
				zcxMPoPNzEw+AYaShJaWBk5TRm9udIaShISEBk5TRm9u
				dB6UmSSEBVszNmNdBgAAABwAAAD//kgAZQBsAHYAZQB0
				AGkAYwBhAE4AZQB1AGUAhAFmDqEAoQGhAKEAhpKElpYG
				TlNLZXJuhpKEhIQITlNOdW1iZXIAhIQHTlNWYWx1ZQCU
				hAEqhIQBZKkAhoaG
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 HelveticaNeue;}
{\colortbl;\red255\green255\blue255;\red38\green38\blue38;}
\deftab720
\pard\tx220\tx520\pardeftab720\li520\fi-520\sl400

\f0\fs28 \cf2 \expnd0\expndtw0\kerning0
Title}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{342, 114}, {88, 20}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.150561</string>
					<key>g</key>
					<string>0.150559</string>
					<key>r</key>
					<string>0.150563</string>
				</dict>
				<key>Size</key>
				<real>14</real>
			</dict>
			<key>ID</key>
			<integer>37788</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBKw5EYXRlIGF2YWlsYWJsZYaEAmlJAQ6ShISE
				DE5TRGljdGlvbmFyeQCUhAFpBJKElpYQTlNQYXJhZ3Jh
				cGhTdHlsZYaShISEEE5TUGFyYWdyYXBoU3R5bGUAlIQE
				Q0NAUwAAhISEB05TQXJyYXkAlJkCkoSEhAlOU1RleHRU
				YWIAlIQCQ2YAC4aShJ+eABqGhoEkAoQEWzNmXRoUJIaS
				hJaWB05TQ29sb3KGkoSEhAdOU0NvbG9yAJSEAWMChARm
				ZmZmg83MTD6DzcxMPoPNzEw+AYaShJaWBk5TRm9udIaS
				hISEBk5TRm9udB6UmSSEBVszNmNdBgAAABwAAAD//kgA
				ZQBsAHYAZQB0AGkAYwBhAE4AZQB1AGUAhAFmDqEAoQGh
				AKEAhpKElpYGTlNLZXJuhpKEhIQITlNOdW1iZXIAhIQH
				TlNWYWx1ZQCUhAEqhIQBZKkAhoaG
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 HelveticaNeue;}
{\colortbl;\red255\green255\blue255;\red38\green38\blue38;}
\deftab720
\pard\tx220\tx520\pardeftab720\li520\fi-520\sl400

\f0\fs28 \cf2 \expnd0\expndtw0\kerning0
Date available}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{86.5, 114}, {102, 20}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.150561</string>
					<key>g</key>
					<string>0.150559</string>
					<key>r</key>
					<string>0.150563</string>
				</dict>
				<key>Size</key>
				<real>14</real>
			</dict>
			<key>ID</key>
			<integer>37787</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBKxBBdXRob3IgLyBDcmVhdG9yhoQCaUkBEJKE
				hIQMTlNEaWN0aW9uYXJ5AJSEAWkFkoSWlgdOU0NvbG9y
				hpKEhIQHTlNDb2xvcgCUhAFjAoQEZmZmZoPNzEw+g83M
				TD6DzcxMPgGGkoSWlg5OU09yaWdpbmFsRm9udIaShISE
				Bk5TRm9udB6UmSSEBVszNmNdBgAAABwAAAD//kgAZQBs
				AHYAZQB0AGkAYwBhAE4AZQB1AGUAhAFmDpsAmwGbAJsA
				hpKElpYGTlNLZXJuhpKEhIQITlNOdW1iZXIAhIQHTlNW
				YWx1ZQCUhAEqhIQBZKMAhpKElpYGTlNGb250hpKdkoSW
				lhBOU1BhcmFncmFwaFN0eWxlhpKEhIQXTlNNdXRhYmxl
				UGFyYWdyYXBoU3R5bGUAhIQQTlNQYXJhZ3JhcGhTdHls
				ZQCUhARDQ0BTAACEhIQHTlNBcnJheQCUmQKShISECU5T
				VGV4dFRhYgCUhAJDZgALhpKErKkAGoaGgSQChARbM2Zd
				GhQkhoaG
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 HelveticaNeue;}
{\colortbl;\red255\green255\blue255;\red38\green38\blue38;}
\deftab720
\pard\tx220\tx520\pardeftab720\li520\fi-520\sl400

\f0\fs28 \cf2 \expnd0\expndtw0\kerning0
Author / Creator}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{271, 141.55109}, {254, 41.948898}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>37786</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Rotation</key>
			<real>180</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{21, 141.55099}, {233, 41.948898}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>37785</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Rotation</key>
			<real>180</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{537, 141.55109}, {405, 41.948898}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>37784</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Rotation</key>
			<real>180</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{950, 141.55109}, {149, 41.948898}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>37783</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Rotation</key>
			<real>180</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{772, 260}, {296, 41.948898}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>37782</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{307, 260}, {448, 41.948898}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>37781</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{21, 260}, {279, 41.948898}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>37780</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{15, 181.5}, {1112, 111}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.150561</string>
					<key>g</key>
					<string>0.150559</string>
					<key>r</key>
					<string>0.150563</string>
				</dict>
				<key>Size</key>
				<real>14</real>
			</dict>
			<key>ID</key>
			<integer>3</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\deftab720
\pard\pardeftab720

\f0\fs64 \cf0 Doe, J. and R. Roe. 2001, updated daily. The FOO Time Series Data Set. Version 3.2. The FOO Data Center. http://dx.doi.org/10.xxxx/1234567.  Accessed 1 May 2012.\
}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>2</integer>
	<key>ImageCounter</key>
	<integer>2</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict>
			<key>ApplicationURL</key>
			<string>http://www.omnigroup.com/applications/OmniGraffle</string>
			<key>appData</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>1</string>
				</dict>
				<key>DocumentSettings</key>
				<dict>
					<key>ApplicationVersion</key>
					<array>
						<string>com.omnigroup.OmniGrafflePro</string>
						<string>137.11.0.108132</string>
					</array>
					<key>FileName</key>
					<string>Base Wireframe Kit.gstencil</string>
					<key>GraphDocumentVersion</key>
					<integer>6</integer>
					<key>ModelCount</key>
					<integer>1</integer>
					<key>ModelIndex</key>
					<integer>0</integer>
					<key>ModificationDate</key>
					<string>2009-03-06 10:18:30 -0500</string>
					<key>Modifier</key>
					<string>Michael Angeles</string>
					<key>SheetTitle</key>
					<string>Canvas 1</string>
				</dict>
				<key>GraphicsList</key>
				<array>
					<dict>
						<key>Class</key>
						<string>LineGraphic</string>
						<key>ControlPoints</key>
						<array>
							<string>{0.331787, 0.0552979}</string>
							<string>{-80, -1}</string>
							<string>{31, 0}</string>
							<string>{0, 0}</string>
							<string>{0, 0}</string>
							<string>{-30, 1}</string>
							<string>{79, 0}</string>
							<string>{-0.231934, 0.712708}</string>
						</array>
						<key>ID</key>
						<integer>37779</integer>
						<key>LayerIndex</key>
						<integer>0</integer>
						<key>Points</key>
						<array>
							<string>{301.717, 414.589}</string>
							<string>{381.717, 435.589}</string>
							<string>{421.717, 453.589}</string>
							<string>{463.717, 434.589}</string>
							<string>{542.717, 414.589}</string>
						</array>
						<key>Style</key>
						<dict>
							<key>stroke</key>
							<dict>
								<key>Bezier</key>
								<true/>
								<key>Color</key>
								<dict>
									<key>b</key>
									<string>0.998718</string>
									<key>g</key>
									<string>0.781033</string>
									<key>r</key>
									<string>0.424323</string>
								</dict>
								<key>HeadArrow</key>
								<string>0</string>
								<key>LineType</key>
								<integer>1</integer>
								<key>TailArrow</key>
								<string>0</string>
								<key>Width</key>
								<real>2</real>
							</dict>
						</dict>
					</dict>
				</array>
				<key>Layers</key>
				<array>
					<dict>
						<key>Lock</key>
						<string>NO</string>
						<key>Name</key>
						<string>Layer 1</string>
						<key>Print</key>
						<string>YES</string>
						<key>View</key>
						<string>YES</string>
					</dict>
				</array>
				<key>ZoomLevel</key>
				<real>1</real>
			</dict>
			<key>bundleId</key>
			<string>com.omnigroup.OmniGrafflePro</string>
			<key>refresh</key>
			<real>0.0</real>
			<key>serverAppName</key>
			<string>OmniGraffle</string>
			<key>serverName</key>
			<string>OmniGraffle</string>
			<key>version</key>
			<string>A</string>
		</dict>
	</array>
	<key>ImageList</key>
	<array>
		<string>image1.pdf</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2015-01-25 23:51:05 +0000</string>
	<key>Modifier</key>
	<string>Nicholas Weber</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAx7X05TU2l6ZT1mZn2WgWQCgRgDhg==</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{633, 180}, {1274, 952}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{0, -32}, {1139, 797}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
	<key>saveQuickLookFiles</key>
	<string>YES</string>
</dict>
</plist>
